body {
    margin: 0;
    padding: 0;
    background-color: #efefef;
    text-align: center;
    display: flex;
    justify-content: center;
}

.content {
    display: flex;
    flex-direction: column;
    min-width: 600px;
}

.recipes {
    display: flex;
    flex-direction: column;
}

a {
    padding: 10px;
    text-decoration: none;
    color: black;
    background: white;
    margin-bottom: 10px;
    border-radius: 10px;
}